<%= form_for blogpost, :url => { :controller => "blogposts", :action => "rate", :id => blogpost.id }, :remote => true  do |f| %>
<span>
	<h6>Current Rating:</h6>
	<span id="average_rating_<%= blogpost.id%>">
		<%= format_average_rating blogpost.average_rating %>
	</span>
	<span id="count_rating_<%= blogpost.id%>">
		<%= format_count_of_ratings blogpost.count_of_ratings %>
	</span>
</span>
<br>
<span>
	<%= select_tag :score, options_for_select([ "5", "4", "3", "2", "1" ],"5")  -%>
</span>
<%= f.submit 'Rate' %>
<span id='rating_success_<%= blogpost.id%>'></span>
<% end %>